@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply max-w-4xl  mx-auto px-4;
    @apply dark:bg-[#0F0E17] dark:text-gray-50 bg-gray-50 text-[#0F0E17] transition-colors
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


